tr:nth-child(even) {
    background-color: #f2f2f2
}
tr:nth-child(odd) {
    background-color: lightgrey;
}


body {
    font-family: sans-serif;
}

a:hover {
    color: red;
}

#quote {
    font-style: italic;
}

span {
    font-weight: bold;
    color: red;
}


table {
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
}

.none {
    float: none;
}

#profile_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 341px;
    height: 532px;
}
